/* Custom styles for your navbar */
body {
    padding-top: 56px; /* Adjust based on the height of your navbar */
  }
  
  #logo img {
    height: 30px; /* Adjust the height of your logo */
    margin-right: 10px; /* Add some spacing between the logo and text */
  }
  
  .navbar b {
    font-size: 1.2rem; /* Adjust the font size of the brand text */
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px; /* Add some spacing between the navbar items */
  }
  