<div class="form">
       <form [formGroup]="updateForm" *ngIf="updateForm"  class="form-group">
         <div class="form-group">
           <label for="fn">First Name</label>
           <input type="text" class="form-control" id="fn" name="firstName" formControlName="firstName">
     
           <label for="ln">Last Name</label>
           <input type="text" class="form-control" id="ln" name="lastName" formControlName="lastName">
     
           <label for="birthdate">Birthdate</label>
           <input type="text" class="form-control" id="birthdate" name="birthdate" formControlName="birthDate"
             autocomplete="birth-date">
     
           <label for="email">Email</label>
           <input type="email" class="form-control" id="email" name="email" formControlName="email"
             autocomplete="email">
     
           <label for="password">Password</label>
           <input type="password" class="form-control" id="password" name="password" formControlName="password"
             autocomplete="current-password">
     
           <label for="profession">Profession</label>
           <input type="text" class="form-control" id="profession" name="profession" formControlName="profession"
             autocomplete="text">
     
           <div formArrayName="skills" id="skills">
             <button class="btn btn-primary" (click)="addSkills()">add Skill</button>
             <div *ngFor="let skill of skills.controls; let i=index">
               <input type="text" id="skill-{{i}}" class="form-control" name="skill-{{i}}" formControlName="{{i}}">
             </div>
           </div>
     
           <button type="submit" (click)="update()">Save</button>
         </div>
       </form>
     </div>
     